NodeRed/2019/flows_noderedpi.json
[{"id":"d087fa29.08fdc8","type":"tab","label":"NCID Client","disabled":false,"info":""},{"id":"9c834b39.564c48","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"19e925d9.c9f0ba","type":"tab","label":"Logs","disabled":false,"info":""},{"id":"8cb3e04d.83f54","type":"tab","label":"Lighting Flows","disabled":false,"info":""},{"id":"77549aa8.a94944","type":"tab","label":"Nat Repeaters","disabled":false,"info":""},{"id":"32eaa2f3.09c81e","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"e2eaf260.27fa1","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2f831b66.758144","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"2a1f0af5.2418f6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#3f8f86","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0daab3","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#3f8f86","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#61b9af","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#3f8f86","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":58,"sy":58,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b6867966.7e4de8","type":"ui_group","z":"","name":"Status","tab":"2f831b66.758144","order":1,"disp":false,"width":"4","collapse":false},{"id":"824cf83e.293e98","type":"ui_group","z":"","name":"MQTT","tab":"84c5bc18.9bef7","order":3,"disp":true,"width":"16","collapse":true},{"id":"a5ed876a.3e1978","type":"ui_group","z":"","name":"Access Point","tab":"84c5bc18.9bef7","order":1,"disp":true,"width":"8","collapse":false},{"id":"ed92ea3f.c10ff8","type":"ui_group","z":"","name":"HomeAP","tab":"84c5bc18.9bef7","order":2,"disp":true,"width":"8","collapse":false},{"id":"9a6c950b.59f2e8","type":"ui_group","z":"","name":"Caller ID","tab":"2f831b66.758144","order":5,"disp":false,"width":"6","collapse":false},{"id":"84c5bc18.9bef7","type":"ui_tab","z":"","name":"Logs","icon":"subject","order":2},{"id":"9faad522.25f398","type":"ui_group","z":"","name":"Monitor","tab":"2f831b66.758144","order":4,"disp":false,"width":"12","collapse":false},{"id":"7c2f62b7.5eac4c","type":"ui_group","z":"","name":"ESP Clock","tab":"84c5bc18.9bef7","order":4,"disp":false,"width":"4","collapse":false},{"id":"f16fdd32.15974","type":"darksky-credentials","z":"","key_identifier":"Grak"},{"id":"bbca3c6e.ed129","type":"mqtt out","z":"8cb3e04d.83f54","name":"","topic":"cmnd/LightLR/POWER1","qos":"1","retain":"","broker":"e2eaf260.27fa1","x":790,"y":240,"wires":[]},{"id":"a506193e.0672f8","type":"mqtt in","z":"9c834b39.564c48","name":"","topic":"alarm/current/state","qos":"0","broker":"e2eaf260.27fa1","x":130,"y":680,"wires":[["410fa8da.308d18","46264e44.91c3f"]]},{"id":"af2f5fdc.7e9d","type":"mqtt in","z":"9c834b39.564c48","name":"","topic":"alarm/heartbeat","qos":"0","broker":"e2eaf260.27fa1","x":100,"y":460,"wires":[["a9cf862f.9cdb78","7ef050e4.9dd9","8e65920.eb0a97"]]},{"id":"9ba7c523.816628","type":"ui_text","z":"9c834b39.564c48","group":"b6867966.7e4de8","order":4,"width":"4","height":"1","name":"","label":"Up Time","format":"{{msg.payload}}","layout":"col-center","x":720.9999694824219,"y":383.0000066757202,"wires":[]},{"id":"14d1c109.ff482f","type":"mqtt in","z":"9c834b39.564c48","name":"","topic":"alarm/rfid/card","qos":"0","broker":"e2eaf260.27fa1","x":122.9999771118164,"y":1213.9999923706055,"wires":[["46c2f02b.4dc23"]]},{"id":"24212092.33eac","type":"mqtt in","z":"9c834b39.564c48","name":"","topic":"alarm/status/env","qos":"0","broker":"e2eaf260.27fa1","x":132.9999771118164,"y":793.9999923706055,"wires":[["6931407b.72b5b"]]},{"id":"410fa8da.308d18","type":"ui_text","z":"9c834b39.564c48","group":"b6867966.7e4de8","order":1,"width":"2","height":"1","name":"Alarm State","label":"Alarm State","format":"{{msg.payload}}","layout":"row-center","x":730,"y":680,"wires":[]},{"id":"55ef4705.9df718","type":"e-mail","z":"9c834b39.564c48","server":"smtp.gmail.com","port":"465","secure":true,"name":"graham.knight@lastdayofmay.co.uk","dname":"","x":900,"y":540,"wires":[]},{"id":"1b3de2b.a4c341d","type":"function","z":"9c834b39.564c48","name":"timestamp to time","func":"date = new Date(msg.payload.UpTime * 1000);\n\n//msg.payload = date.toTimeString().split(' ')[0];\n\nvar msecPerMinute = 1000 * 60;  \nvar msecPerHour = msecPerMinute * 60;  \nvar msecPerDay = msecPerHour * 24;  \nvar interval = msg.payload.UpTime * 1000;\n\nvar days = Math.floor(interval / msecPerDay );  \ninterval = interval - (days * msecPerDay );  \n\n// Calculate the hours, minutes, and seconds.  \nvar hours = Math.floor(interval / msecPerHour );  \ninterval = interval - (hours * msecPerHour );  \n\nvar minutes = Math.floor(interval / msecPerMinute );  \ninterval = interval - (minutes * msecPerMinute );  \n\nvar seconds = Math.floor(interval / 1000 );  \n\nmsg.payload = util.format(\"%d days %d:%d:%d\", days, hours, minutes, seconds);\n//msg.payload = days + \" days \" + hours + \":\" + minutes + \":\" + seconds;\n\nreturn msg;","outputs":1,"noerr":0,"x":452.0000419616699,"y":369.0000009536743,"wires":[["9ba7c523.816628"]]},{"id":"6931407b.72b5b","type":"json","z":"9c834b39.564c48","name":"","pretty":false,"x":342.9999771118164,"y":793.9999923706055,"wires":[["eab70576.fc6078","857d876e.a953f8"]]},{"id":"cb9d5def.5c5d6","type":"mqtt in","z":"8cb3e04d.83f54","name":"","topic":"alarm/sensor/pirHW","qos":"0","broker":"e2eaf260.27fa1","x":130,"y":440,"wires":[["9f874a74.cde518"]]},{"id":"a7ecaa44.bb9b08","type":"trigger","z":"8cb3e04d.83f54","op1":"ON","op2":"OFF","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","name":"","x":570,"y":440,"wires":[["8a9d74a1.e7d228"]]},{"id":"25d04dd.572dbb2","type":"mqtt in","z":"8cb3e04d.83f54","name":"","topic":"alarm/sensor/door","qos":"0","broker":"e2eaf260.27fa1","x":130,"y":620,"wires":[["9f874a74.cde518"]]},{"id":"9f874a74.cde518","type":"switch","z":"8cb3e04d.83f54","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"T","vt":"str"}],"checkall":"true","outputs":1,"x":190,"y":540,"wires":[["62bf7467.07053c"]]},{"id":"f84ac2cb.293a9","type":"comment","z":"8cb3e04d.83f54","name":"Detects entry and hallway events - turns light on if its dark","info":"","x":250,"y":400,"wires":[]},{"id":"46264e44.91c3f","type":"function","z":"9c834b39.564c48","name":"If Triggered message","func":"var dt = new Date();    // get the current date and time\n\n// edge detect a state change\nif( context.get(\"lastState\") == msg.payload)\n    return null;\n    \ncontext.set(\"lastState\", msg.payload);\n\n// if a TRIGGERED event\nif( msg.payload == \"TR\")\n{\n    msg.topic = \"Alarm Triggered.\";\n    msg.payload = dt.toDateString() + \" \" + dt.toTimeString();\n    return msg;\n}\n\nif( msg.payload == \"ARM\")\n{\n    msg.topic = \"Alarm Set.\"\n    msg.payload = dt.toDateString() + \" \" + dt.toTimeString();\n    return msg;\n}\n\nif( msg.payload == \"DIS\")\n{\n    msg.topic = \"Alarm Disarmed.\";\n    msg.payload = dt.toDateString() + \" \" + dt.toTimeString();\n    return msg;\n}\n\n\nreturn null;","outputs":1,"noerr":0,"x":520,"y":640,"wires":[["55ef4705.9df718"]]},{"id":"a9cf862f.9cdb78","type":"trigger","z":"9c834b39.564c48","op1":"","op2":"NO ALARM","op1type":"nul","op2type":"str","duration":"20","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":370,"y":440,"wires":[["9ba7c523.816628","7ef050e4.9dd9"]]},{"id":"41ae035d.4dcbcc","type":"mqtt in","z":"9c834b39.564c48","name":"","topic":"alarm/sensor/#","qos":"0","broker":"e2eaf260.27fa1","x":132.9999771118164,"y":1033.9999923706055,"wires":[["a82a4c80.ef515"]]},{"id":"a82a4c80.ef515","type":"function","z":"9c834b39.564c48","name":"Save state","func":"flow.set(msg.topic, msg.payload);\n\nmsg.color = (msg.payload == \"T\") ? \"red\" : \"lime\";\n\nreturn msg;","outputs":1,"noerr":0,"x":322.9999771118164,"y":1033.9999923706055,"wires":[["a4d47e9a.fbb6d"]]},{"id":"a4d47e9a.fbb6d","type":"switch","z":"9c834b39.564c48","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"alarm/sensor/pir1","vt":"str"},{"t":"eq","v":"alarm/sensor/pir2","vt":"str"},{"t":"eq","v":"alarm/sensor/pir3","vt":"str"},{"t":"eq","v":"alarm/sensor/pir4","vt":"str"},{"t":"eq","v":"alarm/sensor/pirHW","vt":"str"},{"t":"eq","v":"alarm/sensor/pirLR","vt":"str"},{"t":"eq","v":"alarm/sensor/pirDR","vt":"str"},{"t":"eq","v":"alarm/sensor/door","vt":"str"}],"checkall":"true","outputs":8,"x":502.9999771118164,"y":1033.9999923706055,"wires":[["a4b75ed8.360e8"],["9aa3f3b2.603b6"],["53c3164a.a7aff8"],["b2888781.ef7828"],["c5b613f7.6efae"],["b7efad31.42e9d"],["a6512f9b.37c77"],["89c3f984.190278"]]},{"id":"7ef050e4.9dd9","type":"function","z":"9c834b39.564c48","name":"Heartbeat message","func":"if( msg.payload == \"NO ALARM\")\n{\n    context.set(\"IsDown\", true);    // flag the alarm is down\n\n    var dt = new Date();    // get the current date and time\n\n    msg.topic = \"Alarm missing Heartbeat.\";\n    msg.payload = dt.toDateString() + \" \" + dt.toTimeString();\n\n    return msg;\n}\n\nvar isDown = context.get(\"IsDown\") || false;\n\nif( isDown )\n{\n    context.set(\"IsDown\", false);    // flag the alarm is back\n\n    var dt = new Date();    // get the current date and time\n\n    msg.topic = \"Alarm Heartbeat back.\";\n    msg.payload = dt.toDateString() + \" \" + dt.toTimeString();\n    \n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":610,"y":480,"wires":[["55ef4705.9df718"]]},{"id":"8a9d74a1.e7d228","type":"mqtt out","z":"8cb3e04d.83f54","name":"","topic":"cmnd/LightHW/POWER","qos":"","retain":"","broker":"e2eaf260.27fa1","x":790,"y":300,"wires":[]},{"id":"738b7e7.a49aa8","type":"inject","z":"8cb3e04d.83f54","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":160,"wires":[["bbca3c6e.ed129","8a9d74a1.e7d228"]]},{"id":"b5591712.a86b98","type":"mqtt in","z":"9c834b39.564c48","name":"login","topic":"sys/login/name","qos":"0","broker":"e2eaf260.27fa1","x":70,"y":520,"wires":[["891955b5.044768"]]},{"id":"e8ce5b9e.8eb988","type":"mqtt in","z":"9c834b39.564c48","name":"","topic":"alarm/status","qos":"0","broker":"e2eaf260.27fa1","x":122.9999771118164,"y":733.9999923706055,"wires":[["bb9197cc.5259c8"]]},{"id":"bb9197cc.5259c8","type":"ui_text","z":"9c834b39.564c48","group":"b6867966.7e4de8","order":2,"width":"2","height":"1","name":"Status","label":"","format":"{{msg.payload}}","layout":"row-center","x":722.9999771118164,"y":733.9999923706055,"wires":[]},{"id":"891955b5.044768","type":"function","z":"9c834b39.564c48","name":"Login message","func":"var dt = new Date();    // get the current date and time\n\nmsg.payload += \" login at: \" + dt.toDateString() + \" \" + dt.toTimeString();\n\nmsg.topic = \"Alarm Login.\";\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":560,"wires":[["55ef4705.9df718"]]},{"id":"d8ddf3d4.d173a","type":"inject","z":"8cb3e04d.83f54","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":200,"wires":[["bbca3c6e.ed129","8a9d74a1.e7d228"]]},{"id":"eab70576.fc6078","type":"ui_text","z":"9c834b39.564c48","group":"b6867966.7e4de8","order":5,"width":"4","height":"1","name":"Version","label":"Version","format":"{{msg.payload.Version}}","layout":"row-center","x":720,"y":800,"wires":[]},{"id":"857d876e.a953f8","type":"debug","z":"9c834b39.564c48","name":"","active":false,"console":"false","complete":"false","x":492.9999771118164,"y":893.9999923706055,"wires":[]},{"id":"a6512f9b.37c77","type":"ui_text","z":"9c834b39.564c48","group":"b6867966.7e4de8","order":11,"width":"1","height":"1","name":"","label":"DR","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"col-center","x":722.9999771118164,"y":1133.9999923706055,"wires":[]},{"id":"89c3f984.190278","type":"ui_text","z":"9c834b39.564c48","group":"b6867966.7e4de8","order":8,"width":"1","height":"1","name":"","label":"DOOR","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"col-center","x":722.9999771118164,"y":1173.9999923706055,"wires":[]},{"id":"b7efad31.42e9d","type":"ui_text","z":"9c834b39.564c48","group":"b6867966.7e4de8","order":10,"width":"1","height":"1","name":"","label":"LR","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"col-center","x":722.9999771118164,"y":1093.9999923706055,"wires":[]},{"id":"c5b613f7.6efae","type":"ui_text","z":"9c834b39.564c48","group":"b6867966.7e4de8","order":9,"width":"1","height":"1","name":"","label":"HW","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"col-center","x":722.9999771118164,"y":1053.9999923706055,"wires":[]},{"id":"b2888781.ef7828","type":"ui_text","z":"9c834b39.564c48","group":"b6867966.7e4de8","order":15,"width":"1","height":"1","name":"","label":"pir4","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"col-center","x":722.9999771118164,"y":1013.9999923706055,"wires":[]},{"id":"53c3164a.a7aff8","type":"ui_text","z":"9c834b39.564c48","group":"b6867966.7e4de8","order":14,"width":"1","height":"1","name":"","label":"pir3","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"col-center","x":722.9999771118164,"y":973.9999923706055,"wires":[]},{"id":"9aa3f3b2.603b6","type":"ui_text","z":"9c834b39.564c48","group":"b6867966.7e4de8","order":13,"width":"1","height":"1","name":"","label":"pir2","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"col-center","x":722.9999771118164,"y":933.9999923706055,"wires":[]},{"id":"a4b75ed8.360e8","type":"ui_text","z":"9c834b39.564c48","group":"b6867966.7e4de8","order":12,"width":"1","height":"1","name":"","label":"pir1","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"col-center","x":722.9999771118164,"y":893.9999923706055,"wires":[]},{"id":"46c2f02b.4dc23","type":"function","z":"9c834b39.564c48","name":"Save state","func":"msg.color = (msg.payload == \"Valid\") ? \"red\" : \"lime\";\n\nreturn msg;","outputs":1,"noerr":0,"x":322.9999771118164,"y":1213.9999923706055,"wires":[[]]},{"id":"40ff93e2.c4fdcc","type":"inject","z":"9c834b39.564c48","name":"","topic":"","payload":"ARM","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":580,"wires":[["46264e44.91c3f"]]},{"id":"896a5f1f.25155","type":"inject","z":"9c834b39.564c48","name":"","topic":"","payload":"DIS","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":620,"wires":[["46264e44.91c3f"]]},{"id":"62bf7467.07053c","type":"function","z":"8cb3e04d.83f54","name":"Check Lux","func":"// if its bright then ignore\nif( global.get(\"lux\") > 40 )\n    return null\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":540,"wires":[["a7ecaa44.bb9b08"]]},{"id":"50cae3b1.e69f9c","type":"inject","z":"8cb3e04d.83f54","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 12-22 * * *","once":true,"onceDelay":"","x":110,"y":300,"wires":[["cd86fc00.196308"]]},{"id":"cd86fc00.196308","type":"function","z":"8cb3e04d.83f54","name":"Check Lux","func":"// if its bright then ignore\nif( global.get(\"lux\") > 40 )\n    return null\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["1d637f01.40f031"]]},{"id":"1d637f01.40f031","type":"trigger","z":"8cb3e04d.83f54","op1":"ON","op2":"OFF","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":510,"y":340,"wires":[["bbca3c6e.ed129"]]},{"id":"8e65920.eb0a97","type":"json","z":"9c834b39.564c48","name":"","pretty":false,"x":206.01736450195312,"y":370.01044845581055,"wires":[["1b3de2b.a4c341d","93a8ad6e.a12f4"]]},{"id":"93a8ad6e.a12f4","type":"function","z":"9c834b39.564c48","name":"Extract Lux","func":"\n// set the current global lux value\nglobal.set('lux', msg.payload.lux)\n\n\n// perform an exponetial moving average on the data values\nconst EMA_ALPHA = 0.3;\n\nvar luxAverage = context.get(\"luxAverage\") || 0.0;\nif( luxAverage > 0.0)\n{\n    luxAverage = EMA_ALPHA * msg.payload.lux + (1.0 - EMA_ALPHA) * luxAverage;\n}\nelse\n    luxAverage = msg.payload.lux;   // no values yet so just seed with the current value\n    \nif( luxAverage > 0.0)\n{\n    context.set(\"luxAverage\", luxAverage);\n\n    // only plot points every 20 seconds\n    var now = Date.now();\n    var luxPlotTime = context.get(\"luxPlotTime\") || now - 999999;\n\n    if(now - luxPlotTime > 20000 )\n    {\n        node.status({text:luxAverage});\n    \n        context.set(\"luxPlotTime\", now);\n    \n        msg.Topic = \"Lux\";\n        msg.payload = luxAverage;\n\n        return msg;\n    }\n}\nreturn null;\n","outputs":1,"noerr":0,"x":450,"y":320,"wires":[["85387ade.29ed38"]]},{"id":"c6c1047.d966cf8","type":"mqtt in","z":"77549aa8.a94944","name":"","topic":"/WiFi/AP/#","qos":"0","broker":"e2eaf260.27fa1","x":106.0173568725586,"y":214.0104217529297,"wires":[["9d826d19.9e5b6"]]},{"id":"bf871c5d.12cc8","type":"switch","z":"77549aa8.a94944","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Uptime","vt":"str"},{"t":"eq","v":"NoStations","vt":"str"},{"t":"eq","v":"Bin","vt":"str"},{"t":"eq","v":"Bout","vt":"str"},{"t":"eq","v":"Ppsin","vt":"str"},{"t":"eq","v":"Ppsout","vt":"str"},{"t":"eq","v":"Bpsin","vt":"str"},{"t":"eq","v":"Bpsout","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":496.0173568725586,"y":214.0104217529297,"wires":[["733defb4.4f6cb"],["5b7a5ef3.a302d"],["dbd892f5.f09cd"],["1929169a.3f46f9"],["b817ee41.87c87"],["8c70a3ac.cfaad"],["71047d68.7a2c04"],["124ddcc.b2b5323"]]},{"id":"5b7a5ef3.a302d","type":"ui_text","z":"77549aa8.a94944","group":"a5ed876a.3e1978","order":2,"width":"2","height":"1","name":"","label":"NoStations","format":"{{msg.payload}}","layout":"col-center","x":737.0173301696777,"y":113.01043033599854,"wires":[]},{"id":"124ddcc.b2b5323","type":"ui_text","z":"77549aa8.a94944","group":"a5ed876a.3e1978","order":8,"width":"2","height":"1","name":"","label":"Bpsout","format":"{{msg.payload}}","layout":"col-center","x":718.0173454284668,"y":363.010440826416,"wires":[]},{"id":"8c70a3ac.cfaad","type":"ui_text","z":"77549aa8.a94944","group":"a5ed876a.3e1978","order":6,"width":"2","height":"1","name":"","label":"Ppsout","format":"{{msg.payload}}","layout":"col-center","x":716.0173568725586,"y":274.0104217529297,"wires":[]},{"id":"b817ee41.87c87","type":"ui_text","z":"77549aa8.a94944","group":"a5ed876a.3e1978","order":5,"width":"2","height":"1","name":"","label":"Ppsin","format":"{{msg.payload}}","layout":"col-center","x":716.0173568725586,"y":234.0104217529297,"wires":[]},{"id":"1929169a.3f46f9","type":"ui_text","z":"77549aa8.a94944","group":"a5ed876a.3e1978","order":4,"width":"2","height":"1","name":"","label":"Bout","format":"{{msg.payload}}","layout":"col-center","x":716.0173568725586,"y":194.0104217529297,"wires":[]},{"id":"dbd892f5.f09cd","type":"ui_text","z":"77549aa8.a94944","group":"a5ed876a.3e1978","order":3,"width":"2","height":"1","name":"","label":"Bin","format":"{{msg.payload}}","layout":"col-center","x":716.0173568725586,"y":154.0104217529297,"wires":[]},{"id":"71047d68.7a2c04","type":"ui_text","z":"77549aa8.a94944","group":"a5ed876a.3e1978","order":7,"width":"2","height":"1","name":"","label":"Bpsin","format":"{{msg.payload}}","layout":"col-center","x":719.0173454284668,"y":319.010404586792,"wires":[]},{"id":"733defb4.4f6cb","type":"ui_text","z":"77549aa8.a94944","group":"a5ed876a.3e1978","order":1,"width":"2","height":"1","name":"","label":"UpTime","format":"{{msg.payload}}","layout":"col-center","x":726.0173568725586,"y":74.01042175292969,"wires":[]},{"id":"9d826d19.9e5b6","type":"function","z":"77549aa8.a94944","name":"Strip topic","func":"\n// strip off the leading /WiFi/AP/sys/\nmsg.topic = msg.topic.substr(13);\n\nreturn msg;","outputs":1,"noerr":0,"x":306.0173568725586,"y":214.0104217529297,"wires":[["bf871c5d.12cc8"]]},{"id":"aebd0bc.7bc62f8","type":"mqtt in","z":"77549aa8.a94944","name":"","topic":"/WiFi/EspR/#","qos":"0","broker":"e2eaf260.27fa1","x":115.0173568725586,"y":595.0104370117188,"wires":[["ebe494e8.cfb9b8"]]},{"id":"964530d0.b46ba","type":"switch","z":"77549aa8.a94944","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Uptime","vt":"str"},{"t":"eq","v":"NoStations","vt":"str"},{"t":"eq","v":"Bin","vt":"str"},{"t":"eq","v":"Bout","vt":"str"},{"t":"eq","v":"Ppsin","vt":"str"},{"t":"eq","v":"Ppsout","vt":"str"},{"t":"eq","v":"Bpsin","vt":"str"},{"t":"eq","v":"Bpsout","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":495.0173568725586,"y":595.0104370117188,"wires":[["4d9c089b.d1cf88"],["a15cf2e.6cac91"],["d236a1ff.0bda5"],["4a947a8f.e11114"],["67cdc5b0.d29dac"],["6acc6b6c.1f5254"],["d2251c95.3cf1e"],["d51cc492.c3cdb8"]]},{"id":"a15cf2e.6cac91","type":"ui_text","z":"77549aa8.a94944","group":"ed92ea3f.c10ff8","order":2,"width":"2","height":"1","name":"","label":"NoStations","format":"{{msg.payload}}","layout":"col-center","x":736.0173301696777,"y":494.0104455947876,"wires":[]},{"id":"d51cc492.c3cdb8","type":"ui_text","z":"77549aa8.a94944","group":"ed92ea3f.c10ff8","order":8,"width":"2","height":"1","name":"","label":"Bpsout","format":"{{msg.payload}}","layout":"col-center","x":717.0173454284668,"y":744.0104560852051,"wires":[]},{"id":"6acc6b6c.1f5254","type":"ui_text","z":"77549aa8.a94944","group":"ed92ea3f.c10ff8","order":6,"width":"2","height":"1","name":"","label":"Ppsout","format":"{{msg.payload}}","layout":"col-center","x":715.0173568725586,"y":655.0104370117188,"wires":[]},{"id":"67cdc5b0.d29dac","type":"ui_text","z":"77549aa8.a94944","group":"ed92ea3f.c10ff8","order":5,"width":"2","height":"1","name":"","label":"Ppsin","format":"{{msg.payload}}","layout":"col-center","x":715.0173568725586,"y":615.0104370117188,"wires":[]},{"id":"4a947a8f.e11114","type":"ui_text","z":"77549aa8.a94944","group":"ed92ea3f.c10ff8","order":4,"width":"2","height":"1","name":"","label":"Bout","format":"{{msg.payload}}","layout":"col-center","x":715.0173568725586,"y":575.0104370117188,"wires":[]},{"id":"d236a1ff.0bda5","type":"ui_text","z":"77549aa8.a94944","group":"ed92ea3f.c10ff8","order":3,"width":"2","height":"1","name":"","label":"Bin","format":"{{msg.payload}}","layout":"col-center","x":715.0173568725586,"y":535.0104370117188,"wires":[]},{"id":"d2251c95.3cf1e","type":"ui_text","z":"77549aa8.a94944","group":"ed92ea3f.c10ff8","order":7,"width":"2","height":"1","name":"","label":"Bpsin","format":"{{msg.payload}}","layout":"col-center","x":718.0173454284668,"y":700.010419845581,"wires":[]},{"id":"4d9c089b.d1cf88","type":"ui_text","z":"77549aa8.a94944","group":"ed92ea3f.c10ff8","order":1,"width":"2","height":"1","name":"","label":"UpTime","format":"{{msg.payload}}","layout":"col-center","x":725.0173568725586,"y":455.01043701171875,"wires":[]},{"id":"ebe494e8.cfb9b8","type":"function","z":"77549aa8.a94944","name":"Strip topic","func":"\n// strip off the leading /WiFi/EspR/sys/\nmsg.topic = msg.topic.substr(15);\n\nreturn msg;","outputs":1,"noerr":0,"x":305.0173568725586,"y":595.0104370117188,"wires":[["964530d0.b46ba"]]},{"id":"40af7a64.aabba4","type":"mqtt in","z":"19e925d9.c9f0ba","name":"","topic":"#","qos":"2","broker":"e2eaf260.27fa1","x":90,"y":100,"wires":[["99453e7d.36b1f","e7fecf9e.ecfe6"]]},{"id":"99453e7d.36b1f","type":"function","z":"19e925d9.c9f0ba","name":"Store and shift msg","func":"if(msg.topic.indexOf( \"/WiFi/\") === 0)    \n    return null;\n    \nif(msg.topic.indexOf( \"Weather/\") === 0)    \n    return null;\n\nif(msg.topic.indexOf( \"ESPClock/\") === 0)    \n    return null;\n\n// filter out some high frequency messages\nif( msg.topic == \"alarm/heartbeat\")\n    return null;\n\n// filter out telemetry messages    \nif(msg.topic.indexOf( \"tele/\") === 0)    \n    return null;\n\n// filter out PIR messages\nif(msg.topic.indexOf(\"alarm/sensor/pir\") === 0)   \n    return null;\n\n// filter out Soil Moisture Monitor messages\nif(msg.topic.indexOf(\"SoilMoisture\") === 0)   \n    return null;\n\n// filter out LDR messages\nif(msg.topic.indexOf(\"ESPClock/ldr\") === 0)   \n    return null;\n\ndate = new Date();\nmsg.time = date.toTimeString().split(' ')[0];\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text') || [];\n\ntext.push(msg);\n\nif (text.length > 25){\n    text.shift();\n    text.length = 25;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["d3767215.653f4"]]},{"id":"d3767215.653f4","type":"ui_template","z":"19e925d9.c9f0ba","group":"824cf83e.293e98","name":"MQTT Output","order":1,"width":"16","height":"8","format":"<ul ng-style=\"{'white-space': 'nowrap'}\">\n <li ng-repeat=\"x in msg.payload\">\n <font size=\"2\" color=\"blue\">{{x.time}}</font>\n <font size=\"2\" color=\"red\">{{x.topic}}</font>\n <font size=\"2\" color=\"black\"> {{x.payload}}</font>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760,"y":100,"wires":[[]]},{"id":"e7fecf9e.ecfe6","type":"debug","z":"19e925d9.c9f0ba","name":"","active":false,"console":"false","complete":"false","x":366.0000228881836,"y":167.00000953674316,"wires":[]},{"id":"dad0cb60.5f4868","type":"ui_text","z":"8cb3e04d.83f54","group":"b6867966.7e4de8","order":6,"width":"2","height":"1","name":"","label":"Light LR","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-center","x":680,"y":80,"wires":[]},{"id":"3c4982d8.18751e","type":"ui_text","z":"8cb3e04d.83f54","group":"b6867966.7e4de8","order":7,"width":"2","height":"1","name":"","label":"Light HW","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-center","x":680,"y":40,"wires":[]},{"id":"c811e45d.49ab68","type":"mqtt in","z":"8cb3e04d.83f54","name":"","topic":"stat/LightHW/POWER","qos":"0","broker":"e2eaf260.27fa1","x":140,"y":40,"wires":[["a11165cd.693ba8"]]},{"id":"8f8584f8.2bab38","type":"mqtt in","z":"8cb3e04d.83f54","name":"","topic":"stat/LightLR/POWER1","qos":"0","broker":"e2eaf260.27fa1","x":140,"y":80,"wires":[["39087230.00006e"]]},{"id":"a11165cd.693ba8","type":"function","z":"8cb3e04d.83f54","name":"Light State","func":"msg.color = (msg.payload == \"ON\") ? \"blue\" : \"gray\";\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":40,"wires":[["3c4982d8.18751e"]]},{"id":"39087230.00006e","type":"function","z":"8cb3e04d.83f54","name":"Light State","func":"msg.color = (msg.payload == \"ON\") ? \"blue\" : \"gray\";\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["dad0cb60.5f4868"]]},{"id":"3bb36e5a.64de62","type":"ui_toast","z":"9c834b39.564c48","position":"bottom right","displayTime":"5","highlight":"Red","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":625.9999542236328,"y":1287.999984741211,"wires":[]},{"id":"1b8e3cc6.05afc3","type":"mqtt in","z":"9c834b39.564c48","name":"","topic":"CID","qos":"0","broker":"e2eaf260.27fa1","x":95.99995422363281,"y":1287.999984741211,"wires":[["3bb36e5a.64de62"]]},{"id":"42763b57.5ab144","type":"tcp in","z":"d087fa29.08fdc8","name":"","server":"client","host":"192.168.1.231","port":"3333","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":160,"y":120,"wires":[["c3be637e.fd658","8109a6f3.ee6178"]]},{"id":"ce83c355.e1f9e","type":"inject","z":"d087fa29.08fdc8","name":"Keep Awake","topic":"","payload":"REQ: YO\\n","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":400,"wires":[["923f3c7c.8b6c"]]},{"id":"bb712277.8e702","type":"comment","z":"d087fa29.08fdc8","name":"Interface to NCID","info":"","x":140,"y":40,"wires":[]},{"id":"84df26b1.97ec88","type":"ui_text","z":"d087fa29.08fdc8","group":"9a6c950b.59f2e8","order":2,"width":"3","height":"1","name":"Who Called Me","label":"","format":"<a href=\"https://who-called.co.uk/Number/{{msg.NMBR}}\" target=\"_blank\">Who called me</a>","layout":"row-center","x":940,"y":120,"wires":[]},{"id":"52dc5756.dc0588","type":"ui_text","z":"d087fa29.08fdc8","group":"9a6c950b.59f2e8","order":1,"width":0,"height":0,"name":"Last Caller Details","label":"{{msg.DATE}} {{msg.TIME}}","format":"{{msg.NAME}} {{msg.NMBR}}","layout":"row-left","x":950,"y":200,"wires":[]},{"id":"4d8e1ccb.6d87a4","type":"ui_text_input","z":"d087fa29.08fdc8","name":"","label":"Alias","group":"9a6c950b.59f2e8","order":4,"width":"4","height":"1","passthru":false,"mode":"text","delay":"0","topic":"","x":150,"y":580,"wires":[["8869bdc5.f0ed2"]]},{"id":"8869bdc5.f0ed2","type":"function","z":"d087fa29.08fdc8","name":"Set Alias","func":"return {payload:'REQ: alias add \"' + flow.get(\"NMBR\") + '&&' + msg.payload + '\" \"NAMEDEP&&POTS\"\\n'};","outputs":1,"noerr":0,"x":420,"y":580,"wires":[["e9329d64.aac1c"]]},{"id":"50c71a77.920124","type":"ui_template","z":"d087fa29.08fdc8","group":"9a6c950b.59f2e8","name":"CID Log","order":6,"width":"6","height":"8","format":"<ul ng-style=\"{'white-space': 'nowrap'}\">\n    <li ng-repeat=\"x in msg.payload\">\n        <font color=\"red\" size=\"2\">{{x.NAME}}</font>\n        <font size=\"2\">{{x.NMBR}} {{x.DATE}} {{x.TIME}}</font>\n    </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":920,"y":80,"wires":[[]]},{"id":"c0588c19.25665","type":"mqtt out","z":"9c834b39.564c48","name":"","topic":"","qos":"","retain":"","broker":"e2eaf260.27fa1","x":586.9999694824219,"y":1583.6771087646484,"wires":[]},{"id":"cbbf3ef8.09eb7","type":"inject","z":"9c834b39.564c48","name":"Time Sync","topic":"sys/sync/timestamp","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"x":246.99996948242188,"y":1583.6771087646484,"wires":[["c0588c19.25665"]]},{"id":"a57d915d.8ecf5","type":"inject","z":"9c834b39.564c48","name":"cmd/alarm/rfid/add","topic":"cmd/alarm/rfid/add","payload":"{\"uid\":[90,113,101,217]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":269.99996185302734,"y":1385.6770858764648,"wires":[["c1d9e15e.75199"]]},{"id":"c1d9e15e.75199","type":"mqtt out","z":"9c834b39.564c48","name":"","topic":"","qos":"","retain":"","broker":"e2eaf260.27fa1","x":609.9999618530273,"y":1445.6770858764648,"wires":[]},{"id":"8ca939d0.8e4e28","type":"inject","z":"9c834b39.564c48","name":"","topic":"cmd/alarm/code/del","payload":"3105","payloadType":"str","repeat":"","crontab":"","once":false,"x":289.99996185302734,"y":1505.6770858764648,"wires":[["c1d9e15e.75199"]]},{"id":"73205e7d.2e207","type":"inject","z":"9c834b39.564c48","name":"cmd/alarm/rfid/master","topic":"cmd/alarm/rfid/master","payload":"{\"uid\":[50,60,213,17]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":279.99996185302734,"y":1445.6770858764648,"wires":[["c1d9e15e.75199"]]},{"id":"c3be637e.fd658","type":"function","z":"d087fa29.08fdc8","name":"Parse Input","func":"// convert a call line to an object\nfunction toObject(str)\n{\n    var items = str.split(\"*\");\n    \n    var data = {};\n    data.Type = items[0].trim();\n    for(var i = 1; i < items.length; i += 2)\n        data[items[i]] = items[i+1];\n        \n        \n    // reformat the date and time fields\n    if(data.hasOwnProperty(\"DATE\"))\n        data.DATE = data.DATE.slice(2,4) + \"-\" + data.DATE.slice(0,2) + \"-\" + data.DATE.slice(4);\n    if(data.hasOwnProperty(\"TIME\"))\n        data.TIME = data.TIME.slice(0,2) + \":\" + data.TIME.slice(2);\n\n    return data;\n}\n\nfunction isOneOf(itms)\n{\n    for(var i = 0; i < itms.length; ++i)\n        if( msg.payload.startsWith(itms[i]) === true)\n            return true;\n    return false;\n}\n\nflow.set(\"SESSION\", msg._session);  // remember the session\n\n\n// detect and parse out any call log messages\nif( isOneOf([\"CID:\", \"CIDLOG:\", \"CIDINFO:\", \"CALLINFO:\", \"MSGLOG:\", \"MSG:\", \"END:\",\"HUP:\",\"LOG:\",\"INFO:\", \"OPT:\"]))\n    return [toObject(msg.payload), null, null];\n\n// detect response messages\nif( isOneOf([\"200\",\"210\",\"250\",\"251\",\"252\",\"253\",\"300\",\"400\",\"401\",\"402\",\"403\",\"410\",\"411\"]))\n    return [null,msg,null];\n\n\n// anything else\nreturn [null,null,msg];","outputs":3,"noerr":0,"x":170,"y":220,"wires":[["67d65472.4fce6c"],["5b4e40b2.28b7f"],["bad4830f.7dce1"]],"outputLabels":["call type","response","other"]},{"id":"bad4830f.7dce1","type":"debug","z":"d087fa29.08fdc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":280,"wires":[]},{"id":"5b4e40b2.28b7f","type":"function","z":"d087fa29.08fdc8","name":"Responses","func":"// Server API message\nif(msg.payload.startsWith(\"210 \") === true)\n{\n    return [{payload:\"HELLO: IDENT: client node-red\\n\"}, null];\n}\n\n//End of connection startup\nif(msg.payload.startsWith(\"300 \") === true)\n{\n    return [{payload:\"REQ: ACK\\n\"},null];\n}\n\n// end of call log\nif(msg.payload.startsWith(\"250 \") === true)\n{\n    return [null,null];\n}\n\n// server ident\nif(msg.payload.startsWith(\"200 \") === true)\n{\n    return [null,null];\n}\n\n\nreturn [null,msg];\n","outputs":2,"noerr":0,"x":450,"y":220,"wires":[["e9329d64.aac1c"],["f93aa23.c5ae26"]],"outputLabels":["output","other"]},{"id":"67d65472.4fce6c","type":"function","z":"d087fa29.08fdc8","name":"Handle Call records","func":"function addToCallLog(data)\n{\n    // initialise the array if it doesn't exist already\n    var cidlog = flow.get('cidlog') || [];\n\n    cidlog.unshift(msg); // insert at the start of the array\n\n    while (cidlog.length > 20) // remember the last n logs\n        cidlog.pop();   // remove from the end\n\n    // store the value back\n    flow.set('cidlog',cidlog);\n    return cidlog;\n}\n\n\nif( msg.Type === \"CIDLOG:\")\n{\n    return [{payload:addToCallLog(msg)}, msg, null];\n}\n\n\n// process the CID record\nif( msg.Type === \"CID:\")\n{\n    flow.set(\"NMBR\", msg.NMBR);\n    flow.set(\"NAME\", msg.NAME);\n\n    return [{payload:addToCallLog(msg)}, msg, null];\n}\n\nreturn [null,null,null];","outputs":3,"noerr":0,"x":470,"y":140,"wires":[["50c71a77.920124"],["84df26b1.97ec88","52dc5756.dc0588","2c4670dd.cb412"],["e9329d64.aac1c"]],"outputLabels":["cidlog","cid","update"]},{"id":"a47543ea.ceddf","type":"ui_toast","z":"d087fa29.08fdc8","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1100,"y":580,"wires":[]},{"id":"f93aa23.c5ae26","type":"debug","z":"d087fa29.08fdc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":280,"wires":[]},{"id":"fece3a9f.972948","type":"ui_button","z":"d087fa29.08fdc8","name":"","group":"9a6c950b.59f2e8","order":5,"width":"2","height":"1","passthru":false,"label":"Refresh","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":160,"y":520,"wires":[["41e00e3.01f5ff"]]},{"id":"8109a6f3.ee6178","type":"debug","z":"d087fa29.08fdc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430.08331298828125,"y":68.59721946716309,"wires":[]},{"id":"e9329d64.aac1c","type":"function","z":"d087fa29.08fdc8","name":"Add session","func":"msg._session = flow.get(\"SESSION\");\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":480,"wires":[["a47543ea.ceddf","25e7b95f.f12626","acd61bfc.c839b8"]]},{"id":"25e7b95f.f12626","type":"debug","z":"d087fa29.08fdc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":520,"wires":[]},{"id":"41e00e3.01f5ff","type":"function","z":"d087fa29.08fdc8","name":"Reread call log","func":"// clear the call log\nflow.set('cidlog',[]);\n\nmsg.payload = \"REQ: REREAD\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":520,"wires":[["e9329d64.aac1c"]]},{"id":"923f3c7c.8b6c","type":"function","z":"d087fa29.08fdc8","name":"Add session","func":"msg._session = flow.get(\"SESSION\");\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":400,"wires":[["acd61bfc.c839b8"]]},{"id":"acd61bfc.c839b8","type":"tcp out","z":"d087fa29.08fdc8","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":1100,"y":420,"wires":[]},{"id":"85387ade.29ed38","type":"ui_chart","z":"9c834b39.564c48","name":"","group":"9faad522.25f398","order":1,"width":"6","height":"3","label":"Lux","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":710,"y":320,"wires":[[],[]]},{"id":"43722e05.b18c5","type":"mqtt in","z":"9c834b39.564c48","name":"","topic":"SoilMoisture/left/value","qos":"0","broker":"e2eaf260.27fa1","x":120,"y":200,"wires":[["a4cb446.a6dd2b8","556079e2.43a3e8"]]},{"id":"6be61ae3.faa444","type":"ui_gauge","z":"9c834b39.564c48","name":"","group":"9faad522.25f398","order":5,"width":"4","height":"3","gtype":"gage","title":"Left","label":"percent","format":"{{ (value * 100 / 1024) | number:1}}%","min":0,"max":"1024","colors":["#8e2626","#29bc40","#187b9c"],"seg1":"300","seg2":"800","x":690,"y":180,"wires":[]},{"id":"a4cb446.a6dd2b8","type":"function","z":"9c834b39.564c48","name":"Invert value","func":"if( msg.topic == \"CheckAlive\")\n{\n    timestamp = context.get('CheckAlive') || 0;\n    \n    if( timestamp != 0)\n        return [{payload:0},null,{payload:\"Soil Monitor Down since: \" + timestamp}];\n        \n    context.set('CheckAlive', msg.payload);\n    return [null,null,null];\n}\n// zero the keep alive timestamp value\ncontext.set('CheckAlive', 0);\n\n\n//invert the values\nvar value = 1024 - parseInt(msg.payload);\n\nmsg.payload = value;\nnode.status({text:value});\n \n// hysteresis for sending an email\nvar emailSent = context.get('emailSent') || false;\n\nif( emailSent === false && value < 300 )\n{\n    context.set(\"emailSent\", true);\n    return [msg, {topic:\"Front left Bay tree\", payload:\"Plant needs a drink!\"}, null];\n}\n\nif(emailSent && value > 600 )\n{\n    context.set(\"emailSent\", false);\n}\n    \nreturn [msg, null, null];","outputs":3,"noerr":0,"x":410,"y":160,"wires":[["6be61ae3.faa444","7ec24c9b.e938c4","63765515.beda4c"],["de77857f.dbbe88","f28e204d.78689"],["efdf497f.a48818"]]},{"id":"de77857f.dbbe88","type":"e-mail","z":"9c834b39.564c48","server":"smtp.gmail.com","port":"465","secure":true,"name":"graham.knight@lastdayofmay.co.uk","dname":"","x":780,"y":220,"wires":[]},{"id":"f28e204d.78689","type":"e-mail","z":"9c834b39.564c48","server":"smtp.gmail.com","port":"465","secure":true,"name":"gill.knight@lastdayofmay.co.uk","dname":"","x":770,"y":260,"wires":[]},{"id":"af28bccc.63683","type":"inject","z":"9c834b39.564c48","name":"","topic":"CheckAlive","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["a4cb446.a6dd2b8"]]},{"id":"efdf497f.a48818","type":"ui_toast","z":"9c834b39.564c48","position":"top left","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":490,"y":240,"wires":[]},{"id":"d46a9a57.099d18","type":"inject","z":"9c834b39.564c48","name":"","topic":"Test Message","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":852.9999771118164,"y":453.99999237060547,"wires":[["55ef4705.9df718"]]},{"id":"2c4670dd.cb412","type":"ui_text","z":"d087fa29.08fdc8","group":"9a6c950b.59f2e8","order":3,"width":"3","height":"1","name":"Blacklist","label":"","format":"<a href=\"https://my.bt.com/s/apps/appspstn/index.html#/recent-calls\" target=\"_blank\">Blacklist</a>","layout":"row-center","x":920,"y":160,"wires":[]},{"id":"d9194530.d74668","type":"inject","z":"32eaa2f3.09c81e","name":"Refresh Timer","topic":"Refresh Timer","payload":"true","payloadType":"bool","repeat":"300","crontab":"","once":false,"onceDelay":"","x":140,"y":200,"wires":[["4ac54fff.75c53"]]},{"id":"90e121cc.3dd03","type":"ui_button","z":"32eaa2f3.09c81e","name":"Weather Refresh","group":"b6867966.7e4de8","order":16,"width":0,"height":0,"passthru":false,"label":"Refresh Weather","tooltip":"","color":"","bgcolor":"","icon":"fa-refresh","payload":"true","payloadType":"bool","topic":"","x":110,"y":280,"wires":[["4ac54fff.75c53","a3de6ded.411bd"]]},{"id":"4ac54fff.75c53","type":"openweathermap","z":"32eaa2f3.09c81e","name":"Current Weather","wtype":"current","lon":"-0.164998","lat":"50.842121","city":"","country":"","language":"en","x":370,"y":200,"wires":[["70f28166.6ffe8","9148e9c4.7a0d18"]]},{"id":"16f2ab72.15e425","type":"comment","z":"32eaa2f3.09c81e","name":"Open Weather API","info":"","x":230,"y":120,"wires":[]},{"id":"f36c875.679e778","type":"openweathermap","z":"32eaa2f3.09c81e","name":"5 Day Forecast","wtype":"forecast","lon":"-0.164998","lat":"50.842121","city":"","country":"","language":"en","x":360,"y":260,"wires":[["527056d8.216778"]]},{"id":"ad15fc77.eb22f","type":"mqtt in","z":"9c834b39.564c48","name":"","topic":"Weather/Today/Temp","qos":"0","datatype":"auto","broker":"e2eaf260.27fa1","x":120,"y":20,"wires":[["b2ae9288.47233"]]},{"id":"aba2c392.f8fdf","type":"mqtt out","z":"19e925d9.c9f0ba","name":"","topic":"","qos":"","retain":"true","broker":"e2eaf260.27fa1","x":730,"y":280,"wires":[]},{"id":"fe9c6ac7.195a98","type":"ui_form","z":"19e925d9.c9f0ba","name":"","label":"Alarm 0","group":"7c2f62b7.5eac4c","order":1,"width":"4","height":"4","options":[{"label":"Hour","value":"Hour","type":"number","required":true},{"label":"Minute","value":"Minute","type":"number","required":true},{"label":"Days","value":"Days","type":"text","required":false}],"formValue":{"Hour":"","Minute":"","Days":""},"payload":"","submit":"submit","cancel":"cancel","topic":"ESPClock/Set/Alarm0","x":110,"y":260,"wires":[["aba2c392.f8fdf"]]},{"id":"e1fa20c2.8473c","type":"mqtt in","z":"9c834b39.564c48","name":"","topic":"Weather/Today/Pressure","qos":"0","datatype":"auto","broker":"e2eaf260.27fa1","x":130,"y":60,"wires":[["f407621f.e4092"]]},{"id":"cfa03529.8770e8","type":"mqtt in","z":"9c834b39.564c48","name":"","topic":"Weather/Today/Humidity","qos":"0","datatype":"auto","broker":"e2eaf260.27fa1","x":130,"y":100,"wires":[["55d86634.5b3168"]]},{"id":"f407621f.e4092","type":"ui_chart","z":"9c834b39.564c48","name":"","group":"9faad522.25f398","order":3,"width":"6","height":"3","label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#008000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":740,"y":60,"wires":[[],[]]},{"id":"55d86634.5b3168","type":"ui_chart","z":"9c834b39.564c48","name":"","group":"9faad522.25f398","order":4,"width":"6","height":"3","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#8080ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":740,"y":100,"wires":[[],[]]},{"id":"b2ae9288.47233","type":"ui_chart","z":"9c834b39.564c48","name":"","group":"9faad522.25f398","order":2,"width":"6","height":"3","label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#bb0000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":730,"y":20,"wires":[[],[]]},{"id":"e69d9cd9.209cd","type":"ui_form","z":"19e925d9.c9f0ba","name":"","label":"Alarm 1","group":"7c2f62b7.5eac4c","order":2,"width":"4","height":"4","options":[{"label":"Hour","value":"Hour","type":"number","required":true},{"label":"Minute","value":"Minute","type":"number","required":true},{"label":"Days","value":"Days","type":"text","required":false}],"formValue":{"Hour":"","Minute":"","Days":""},"payload":"","submit":"submit","cancel":"cancel","topic":"ESPClock/Set/Alarm1","x":110,"y":300,"wires":[["aba2c392.f8fdf"]]},{"id":"3df8b63d.4227ca","type":"ui_button","z":"19e925d9.c9f0ba","name":"","group":"7c2f62b7.5eac4c","order":3,"width":"2","height":"1","passthru":false,"label":"Delete Alarm 0","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"ESPClock/Set/Alarm0","x":140,"y":360,"wires":[["641ffc03.9a9074"]]},{"id":"70c4d806.61c868","type":"ui_button","z":"19e925d9.c9f0ba","name":"","group":"7c2f62b7.5eac4c","order":5,"width":"2","height":"1","passthru":false,"label":"Delete Alarm 1","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"ESPClock/Set/Alarm1","x":140,"y":400,"wires":[["641ffc03.9a9074"]]},{"id":"641ffc03.9a9074","type":"function","z":"19e925d9.c9f0ba","name":"Blank the payload","func":"msg.payload=null;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["e778e7e4.4373a8"]]},{"id":"8c560fd3.d1c14","type":"inject","z":"19e925d9.c9f0ba","name":"","topic":"ESPClock/Set/Alarm","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":460,"wires":[["e778e7e4.4373a8"]]},{"id":"e778e7e4.4373a8","type":"mqtt out","z":"19e925d9.c9f0ba","name":"","topic":"","qos":"","retain":"true","broker":"e2eaf260.27fa1","x":730,"y":420,"wires":[]},{"id":"70f28166.6ffe8","type":"function","z":"32eaa2f3.09c81e","name":"Split into individual messages","func":"// break out the message into multiple messages\n\nvar condition = {topic:\"Weather/Today/Condition\", payload:msg.payload.weather};\nvar detail = {topic:\"Weather/Today/Detail\", payload:msg.payload.detail};\nvar clouds = {topic:\"Weather/Today/Clouds\", payload:msg.payload.clouds};\nvar icon = {topic:\"Weather/Today/Icon\", payload:msg.payload.icon};\nvar temp = {topic:\"Weather/Today/Temp\", payload:msg.payload.tempc};\nvar mintemp = {topic:\"Weather/Today/MinTemp\", payload:msg.payload.temp_minc};\nvar maxtemp = {topic:\"Weather/Today/MaxTemp\", payload:msg.payload.temp_maxc};\nvar humidity = {topic:\"Weather/Today/Humidity\", payload:msg.payload.humidity};\nvar pressure = {topic:\"Weather/Today/Pressure\", payload:msg.payload.pressure};\nvar windspeed = {topic:\"Weather/Today/WindSpeed\", payload:msg.payload.windspeed};\nvar winddirection = {topic:\"Weather/Today/WindDirection\", payload:msg.payload.winddirection};\nvar sunrise = {topic:\"Weather/Today/Sunrise\", payload:msg.payload.sunrise};\nvar sunset = {topic:\"Weather/Today/Sunset\", payload:msg.payload.sunset};\n\n// return multiple messages to the single output\nreturn [[condition, detail, clouds, icon, temp, mintemp, maxtemp, humidity, pressure, windspeed, winddirection, sunrise, sunset]];","outputs":1,"noerr":0,"x":610,"y":120,"wires":[["53cd16ce.22ad68"]]},{"id":"527056d8.216778","type":"debug","z":"32eaa2f3.09c81e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":260,"wires":[]},{"id":"9148e9c4.7a0d18","type":"debug","z":"32eaa2f3.09c81e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":200,"wires":[]},{"id":"53cd16ce.22ad68","type":"mqtt out","z":"32eaa2f3.09c81e","name":"","topic":"","qos":"","retain":"true","broker":"e2eaf260.27fa1","x":850,"y":120,"wires":[]},{"id":"a3de6ded.411bd","type":"darksky","z":"32eaa2f3.09c81e","darksky":"f16fdd32.15974","name":"","lon":"-0.164998","lat":"50.842121","date":"","time":"","mode":"node","lang":"en","units":"uk2","x":160,"y":480,"wires":[["a47d83c2.e124e"]]},{"id":"a47d83c2.e124e","type":"debug","z":"32eaa2f3.09c81e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":480,"wires":[]},{"id":"5d395632.ae95e8","type":"ui_text","z":"32eaa2f3.09c81e","group":"b6867966.7e4de8","order":17,"width":0,"height":0,"name":"","label":"Dark Sky","format":"<a href=\"https://darksky.net/forecast/50.842121,-0.164998/si12/en\" target=\"_blank\">Dark Sky</a>","layout":"row-spread","x":80,"y":320,"wires":[]},{"id":"7ec24c9b.e938c4","type":"ui_chart","z":"9c834b39.564c48","name":"","group":"9faad522.25f398","order":6,"width":"4","height":"3","label":"Moisture Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1024","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":140,"wires":[[]]},{"id":"63765515.beda4c","type":"ui_gauge","z":"9c834b39.564c48","name":"","group":"9faad522.25f398","order":7,"width":"4","height":"3","gtype":"gage","title":"Right","label":"percent","format":"{{ (value * 100 / 1024) | number:1}}%","min":0,"max":"1024","colors":["#8e2626","#29bc40","#187b9c"],"seg1":"300","seg2":"800","x":810,"y":180,"wires":[]},{"id":"c29f5cff.446b2","type":"debug","z":"9c834b39.564c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":1760,"wires":[]},{"id":"2766a418.91727c","type":"function","z":"9c834b39.564c48","name":"Zero Injector","func":"// Injects zeros while the machine is stopped\nlet interval = 10 * 1000;       // interval at which to inject\nlet stoppedString = \"Stopped\";  // expected string in payload when machine is stopped\n\nlet timerId = context.get(\"timerId\") || 0;\n// stop injection if currently active\nif (timerId) {\n    clearTimeout(timerId);\n    timerId = null;\n    context.set(\"timerId\", timerId);\n}\nif (msg.payload == stoppedString) {\n    // machine stopped so start injection\n    timerId = setInterval(function() {\n        node.send({payload: 0})\n    }, interval);\n    context.set(\"timerId\", timerId);\n}","outputs":1,"noerr":0,"x":352,"y":1759,"wires":[["c29f5cff.446b2"]]},{"id":"f55a3021.521a4","type":"inject","z":"9c834b39.564c48","name":"","topic":"","payload":"Running","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":144,"y":1752,"wires":[["2766a418.91727c"]]},{"id":"b4c3a8ce.49e808","type":"inject","z":"9c834b39.564c48","name":"","topic":"","payload":"Stopped","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":143,"y":1799,"wires":[["2766a418.91727c"]]},{"id":"556079e2.43a3e8","type":"smooth","z":"9c834b39.564c48","name":"","property":"payload","action":"low","count":"10","round":"2","mult":"single","x":300,"y":280,"wires":[["ded6f6a3.ab2b38"]]},{"id":"ded6f6a3.ab2b38","type":"debug","z":"9c834b39.564c48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":280,"wires":[]}]